page-menu-seguridad {
  .card-md, .card-ios{
    background-color: #606060;

    .card-header{
      color: #fff;
    }

    p{
      margin-top: 20px;
      color: white;
      text-align: center;
    }
  }

  .btn-anti{
    margin: -5px 0px 10px 0px
  }
}
