page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    position: absolute;
  }

  .titulo{
      text-align: center;
      margin-bottom: 30px;
      font-size: 18
  }

  .contenido{
      // background-color: #434347;
      margin: 10px;
      padding: 5px;
      text-align: left;
      border-radius: 5px;
      font-size: 16px
  }

  a{
      color: #e07b7b;
  }

  ol, ul{
      padding-left: 15px !important;
  }

  iframe{
    display: block;
    margin:auto;
  }

  img{
    display: block;
    margin:auto;
  }
}
