page-llamanos {

  ion-content{
    text-align: center;
  }

  .button{
    font-size: 40px;
    width: 50%;
    height: 100px;
    overflow: auto;
  }

  ion-icon{
    padding: 0px !important;
  }

  p{
    margin-top: 0px;
    text-align: center;
  }
}
