page-security {
  #map_canvas{
    position: fixed;
    height: 60%;
    width: 100%;
    padding: 0px;
    transition: opacity 150ms ease-in;
 }


   ion-spinner{
     width: 150px;
     height: 150px;
     display: block;
     margin: 35% auto auto auto;
   }

   ion-content, ion-footer{
     background-color: #303030
   }

   .instrucciones{
     color: white;
     padding: 5px;
    text-align: justify;
    background-color: #303030
   }
}
