page-group-select {
  .card-md, .card-ios{
    background-color: #606060;

    .card-header{
      color: #fff;
    }

    h2{
      color: white;
    }
  }
  .centered{
    text-align: center;
  }
}
