page-contact-us {
  .button{
    font-size: 40px;
    width: 100%;
    height: 100px;
    overflow: hiden;
  }

  ion-icon{
    padding: 0px !important;
  }

  p{
    margin-top: 0px;
    text-align: center;
  }
}
