
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CONTACT-US_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (submit)="sendComment()">
    <ion-list inset>
      <ion-item>
        <ion-label floating>Ingresá tu nombre</ion-label>
        <ion-input type="text" [(ngModel)]="comentario.name" [formControl]="nameFC"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Ingresá tu email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="comentario.email" [formControl]="emailFC"></ion-input>
      </ion-item>
      <br>

      <ion-item >
        <ion-toggle checked="false" [(ngModel)]="adjComment" name="comment"></ion-toggle>
        <ion-label>Adjuntá un comentario</ion-label>
        <ion-icon name="text" item-start></ion-icon>
      </ion-item>
      <ion-item *ngIf="adjComment">
        <ion-textarea placeholder="Comentario" name="text" [(ngModel)]="comentario.text"></ion-textarea>
      </ion-item>

      <ion-item >
        <ion-toggle checked="false" [(ngModel)]="adjPicture" name="picture"></ion-toggle>
        <ion-label>Adjuntá una foto</ion-label>
        <ion-icon name="camera" item-start></ion-icon>
      </ion-item>
      <ion-item *ngIf="adjPicture" class="picture">
        <button type="button" ion-button (click)="takePicture()">Tomar una foto</button>
        <br>
        <div *ngIf="base64Image">
          <img src={{base64Image}}/>
        </div>
      </ion-item>

      <ion-item >
        <ion-toggle checked="false" [(ngModel)]="adjLocation" name="location"></ion-toggle>
        <ion-label>Adjuntá tu ubicación</ion-label>
        <ion-icon name="pin" item-start></ion-icon>
      </ion-item>
      <ion-item *ngIf="adjLocation">
        template de location
      </ion-item>

      <ion-item>
        <ion-toggle checked="false" [(ngModel)]="adjAudio" name="audio"></ion-toggle>
        <ion-label>Adjuntá un audio</ion-label>
        <ion-icon name="mic" item-start></ion-icon>
      </ion-item>
      <ion-item *ngIf="adjAudio" class="audio">
        <button type="button" ion-button (click)="rec()" icon-only>
          <ion-icon name="mic"></ion-icon>
        </button>
        <button type="button" ion-button  icon-only>
          <ion-icon name="play"></ion-icon>
        </button>
        <button type="button" ion-button  icon-only>
          <ion-icon name="square"></ion-icon>
        </button>
      </ion-item>

      <div padding>
        <button type="submit" ion-button color="primary" block [disabled]="nameFC.invalid || emailFC.invalid">Enviar</button>
      </div>
    </ion-list>

  </form>

</ion-content>
