
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CONTACT-US_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (submit)="sendComment()">
    <ion-list inset>
      <ion-item>
        <ion-label floating>Ingresá tu nombre</ion-label>
        <ion-input type="text" [(ngModel)]="comentario.name" [formControl]="nameFC"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Ingresá tu email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="comentario.email" [formControl]="emailFC"></ion-input>
      </ion-item>
      <br>

      <p>Adjuntá algo a tu comentario:</p>

      <ion-item >
        <ion-toggle checked="false" [(ngModel)]="adjComment" name="comment"></ion-toggle>
        <ion-label>Un comentario</ion-label>
        <ion-icon name="text" item-start></ion-icon>
      </ion-item>
      <ion-item *ngIf="adjComment">
        <ion-textarea placeholder="Comentario" name="text" [(ngModel)]="comentario.text"></ion-textarea>
      </ion-item>

      <ion-item >
        <ion-toggle checked="false" [(ngModel)]="adjPicture" name="picture"></ion-toggle>
        <ion-label>Una foto</ion-label>
        <ion-icon name="camera" item-start></ion-icon>
      </ion-item>
      <ion-item *ngIf="adjPicture" class="picture">
        <button ion-button type="button" (click)="takePicture()">Tomar una foto</button>
        <br>
        <div *ngIf="base64Image">
          <img src={{base64Image}}/>
        </div>
      </ion-item>

      <!-- <ion-item >
        <ion-toggle checked="false" [(ngModel)]="adjLocation" name="location"></ion-toggle>
        <ion-label>Tu ubicación</ion-label>
        <ion-icon name="pin" item-start></ion-icon>
      </ion-item>
      <ion-item *ngIf="adjLocation">
        template de location
      </ion-item> -->

      <ion-item>
        <ion-toggle checked="false" [(ngModel)]="adjAudio" name="audio"></ion-toggle>
        <ion-label>Un audio</ion-label>
        <ion-icon name="mic" item-start></ion-icon>
      </ion-item>
      <ion-item *ngIf="adjAudio" class="audio">
        <button ion-button ion-long-press type="button" [interval]="400" (onPressStart)="takeRecord()" (onPressEnd)="stopRecord()">
          <ion-icon name="mic"></ion-icon>
        </button>
        <button ion-button type="button" (click)="play()" [disabled]="audioFile == null" icon-only>
          <ion-icon name="play"></ion-icon>
        </button>
        <button ion-button type="button" (click)="pause()" [disabled]="audioFile == null" icon-only>
          <ion-icon name="pause"></ion-icon>
        </button>
      </ion-item>

      <div padding>
        <button *ngIf="!enviando" type="submit" ion-button color="primary" block [disabled]="nameFC.invalid || emailFC.invalid">Enviar</button>
        <ion-spinner class="spinn" *ngIf="enviando"></ion-spinner>
      </div>
    </ion-list>

  </form>

</ion-content>
