page-send-testimony {

    ion-content{
      text-align: center;
    }

    .button{
      font-size: 40px;
      width: 50%;
      height: 100px;
      overflow: auto;
    }

    ion-icon{
      padding: 0px !important;
    }
}
