<ion-header>

  <ion-navbar>
    <ion-title>{{ 'GRUPO_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let grupo of grupos">
    </ion-item>
  </ion-list>
  {{grupos}}

  <ion-searchbar (ionInput)="searchContacts($event)" placeholder="Nombre del contacto"></ion-searchbar>
  <p>{{inputName}}</p>
  <ion-list>
    <ion-item *ngFor="let item of contacsList" (click)=addContact(item)>
      <h2>{{item.displayName}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
