<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
<ion-spinner class="spinn" *ngIf="secciones == null"></ion-spinner>
  <ion-list>
    <ion-item-sliding *ngFor="let seccion of secciones">
      <button ion-item (click)="openItem(seccion)">
        <h2>{{seccion.titulo}}</h2>
      </button>
    </ion-item-sliding>
  </ion-list>
  <ion-fab>
    <button ion-fab mini (click)="goLogReg()">
      <ion-icon name="person"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
