page-list-master {
  ion-spinner{
    width: 75px;
    height: 75px;
    display: block;
    margin: 35% auto auto auto;
  }

  ion-fab{
    right: 1em;
    bottom: 1em;
  }

  ion-slides{
    height: 30%;
  }

  ion-slide img{
    
}
